# [{{ runbook.id }}] {{ runbook.title }}

## About
{{ runbook.about }}

## When: 作業の条件

### Before: 事前前提条件

以下を作業の前提条件とする。
{% for condition in runbook.before %}
1. {{ condition }}
{% endfor %}

### After: 作業終了状況

以下が完了の条件。
{% for condition in runbook.after %}
1. {{ condition }}
{% endfor %}


## How: 以下は作業手順

### 1. 前処理

#### 1.1 処理パラメータ

{% if params %}
本手順で使うパラメータ：

| キー | 値 |
| --- | --- |
{% for key, value in params.items() %}
| {{ key }} | `{{ value }}` |
{% endfor %}
{% else %}
パラメータなし。
{% endif %}

{% for check in runbook.pre_checks or [] %}
#### 1.{{ loop.index + 1 }} {{ check.title }}

{% if check.description %}
{{ check.description | trim }}

{% endif %}
{% if check.snippet %}
{% include check.snippet %}

{% endif %}
{% endfor %}

### 2. 主処理

#### 2.1 リソースの操作 ({{ runbook.operation }})

{% include runbook.main.snippet %}

### 3. 後処理

#### 3.1 完了条件の結果確認

{% for condition in runbook.after %}
{{ condition }}

{% endfor %}
{% for check in runbook.post_checks or [] %}
{% if check.snippet %}
{% include check.snippet %}

{% endif %}
{% endfor %}

#### Navigation

{% if navigation.next %}
Next: [{{ navigation.next.title }}]({{ navigation.next.link }})
{% endif %}

# EOD
